extends layout

block content
    -data = data || {}
    if errors
        ul.my-errors
            for error in errors
                li= error.msg
    form(action="." method="POST" class="form-registration")
        label(for="ID") ID: 
        select(
            type="text"
            id="category"
            name="category"
            value=data.category
        )
            option(value="") -- Choisissez --
            option(value="5") Cat1
            option(value="6") Cat2
            option(value="7") etc.

        input(
            type="submit"
            value="Submit"
            class="btn btn-lg btn-primary btn-block"
        )