extends layout

block content
    -data = data || {}
    if errors
        ul
            for error in errors
                li= error.msg
    form(action="." method="POST")
        label(for="category") Category:
        select(
            type="text"
            id="category"
            name="category"
            value=data.category
        )
            option(value="") -- Choisissez --
            option(value="5") Cat1
            option(value="6") Cat2
            option(value="7") etc.
            //- each category in categories
            //-     option(value=category) category

        input(type="submit" value="Submit")